<nav class="flex font-bold text-xl bg-black text-white py-4 px-12 shadow-2xl items-center">
  <div class="flex-none me-10">LK Gaming Solutions</div>
  <div class="flex flex-auto flex-row justify-around mx-16">
    <div routerLink="/" class="hover:text-sky-400 hover:scale-110 transition duration-300 ease-in-out"><i class="fa-solid fa-house me-1"></i><span>Home</span></div>
    <div routerLink="/category/pc" class="hover:text-sky-400 hover:scale-110 transition duration-300 ease-in-out"><i class="fa-solid fa-desktop me-1"></i><span>PC</span></div>
    <div routerLink="/category/play-station" class="hover:text-sky-400 hover:scale-110 transition duration-300 ease-in-out"><i class="fa-brands fa-playstation me-1"></i><span>Play Station</span></div>
    <div routerLink="/category/xbox" class="hover:text-sky-400 hover:scale-110 transition duration-300 ease-in-out"><i class="fa-brands fa-xbox me-1"></i><span>Xbox</span></div>
    <div routerLink="/contact" class="hover:text-sky-400 hover:scale-110 transition duration-300 ease-in-out"><i class="fa-solid fa-phone me-1"></i><span>Contact</span></div>
  </div>
  <div class="flex-none mx-10 hover:text-sky-400 hover:scale-110 transition duration-300 ease-in-out"><i class="fa-solid fa-right-to-bracket me-1"></i><span>Login</span></div>
  <div class="flex-none hover:text-sky-400 hover:scale-110 transition duration-300 ease-in-out"><i class="fa-solid fa-cart-shopping me-1"></i><span>LKR.1000000</span></div>
</nav>
