/* Hide the default dropdown icon */
.header {
  background: rgba(10, 14, 26, 0.95);
  font-size: 20px;
  font-weight: 500;
}

.header .navbar-brand img {
  width: 40px;
}

.header .navbar-brand span {
  font-size: 25px;
  color: #BD9B52;
}

.header .dropdown-toggle::after {
  display: none !important;
}

.header .dropdown-menu {
  border: 1px solid #BD9B52;
  background-color: rgba(10, 14, 26, 0.95);
}

.header .dropdown-divider {
  background-color: #BD9B52;
}

.header .nav-link,
.header .dropdown-item {
    color: #ffffff;
}

.header .nav-link:hover,
.header .dropdown-item:hover {
    color: #BD9B52;
    scale: 1.02;
    transition: color 0.8s ease, scale 0.8s ease;
}

.header .nav-link.active,
.header .dropdown-item.active,
.header .dropdown.show .bi-person-circle {
    color: #BD9B52;
    scale: 1.02;
}

.header .dropdown-item:hover {
  background-color: transparent !important;
}

.header .dropdown-item.active {
  background-color: transparent !important;
}

.header .dropdown-menu {
    opacity: 0;
    transform: translate(-90%, -10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block;
    margin-left: 110%;
    pointer-events: none;
  }

  /* When dropdown is open */
  .header .show>.dropdown-menu {
    opacity: 1;
    transform: translate(-90%, 0);
    pointer-events: auto;
  }

   /* Navbar Toggle */
.header .nav-toggle {
  border-color: #BD9B52;
  color: #eed091;
}

.header .nav-toggle-icon {
  color: #BD9B52;
}